/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2016, 1:44:09 PM
    Author     : andre_000
*/

.footer {
   color: white;
   background-color: black;
   height: 175px;
   
}

#cancelDiv{
    padding-top: 5px;
}

.btn{
    color: black;
}

#nameInput {
    color: black;
}

#name {
    color: black;
}

#date {
    color: black;
}

.ScrollStyle
{
    margin-bottom: 20px;
    overflow: visible;
    max-height: 400px;
    overflow-y: scroll;
}

body{
    margin-bottom: 175px;
    overflow: auto;
}

